<mat-nav-list>

    <!-- Only shows when the user is not authenticated. -->
    <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!isAuth">
      <mat-icon>face</mat-icon>
      <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
      <mat-icon>input</mat-icon>
      <span class="nav-caption">Login</span>
    </a>

    <!-- Only shows when the user is authenticated. -->
    <a mat-list-item routerLink="/training" (click)="onClose()" *ngIf="isAuth">
      <mat-icon>fitness_center</mat-icon>
      <span class="nav-caption">Training</span>
    </a>
    <!-- nest a button into mat-list-item to make it look better  -->
    <mat-list-item>
        <button mat-icon-button (click)="onLogout()" *ngIf="isAuth">
            <mat-icon>eject</mat-icon>
            <span class="nav-caption">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>
